@model FaceBookApp.Models.User 

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Facebook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Profile","User", null)</li>
                <li>@Html.ActionLink("My Profile", "MyProfilePage", "User", new { id = (int)Session["userID"] }, null)</li>
                <li>@Html.ActionLink("Settings", "Settings", "User", null)</li>
                <li>@Html.ActionLink("Log-out", "Log_in", "User", null)</li>
            </ul>
        </div>
    </div>
</div>
