<!-- Side navigation -->
@model FaceBookApp.Models.User

<div class="sidenav barralado sidebar">

    <h2 class="sidebar-title">Welcome  @Model.firstName</h2>
    <img class="profile" src="http://placekitten.com/150/150"> <!--Profie pic-->

    <br />   <br />   <br />
    <br />
    @Html.ActionLink("Add New Post", "AddPost", "Post")

    <br />

    @Html.ActionLink("My Friends", "FreindsPage", "User")

    <br />

    @Html.ActionLink("Friends Requests", "ShowRequests", "User")

    <br />

    @Html.ActionLink("Find Friends", "FindFriends", "User")


</div>
